<app-header />

<main>
  <ul id="users">
    <!-- track é basicamente o identificador unico
     que vai ser usado para iterar pelo objeto ou 
     o que está no loop for do componente -->
    @for (user of users; track user.id) {
      <li>
      <app-user [selected]="user.id === selectedUserId" [user]="user" (select)="onSelectUser($event)" />
      <!-- $event will handle the value that event is emitting-->
    </li>
    }
  </ul>

  @if (selectedUser) {
    <app-tasks [userId]="selectedUser.id" [name]="selectedUser.name" />  
  } @else {
    <p id="fallback">Select a user to view their tasks!</p>
  }
</main>
